<h1> Home </h1>
<p>This is the {{ title }} page</p>
{{#if isAvailable}}
<ul>
    {{#each rooms}}
         <li> <a href={{this.name}}> {{this.name}}  </a></li>
    {{/each}}
</ul>
{{/if}}

<form action="/create" method="POST">
<input type="text" name="roomName" placeholder="enter room name"/>
<input type="submit" value="create room"/> 
</form>

<script>
    let interval = setInterval(refreshPage, 1000);

    function refreshPage() {
    fetch("http://localhost:8080/getRoom")
        .then(res => res.json())
        .then(data => {
            // console.log(data);
            refresh(data);
        })
        .catch(err => {
            console.log(err);
        })
    }

    function refresh(room) {
        document.getElementsByTagName('ul').innerHTML = "";

        for (var i = 0; i < room.length; ++i) {
            console.log(room[i].name);
            document.getElementsByTagName('ul').innerHTML += `<li> <a href={{this.name}}> {{this.name}}  </a></li>`;
        }
    }
</script>